/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* NAVIGATION BAR */
#navbar{
    display:flex;
    align-items: center;
    position: sticky;
    font-size: 1rem;
    font-family: 'Potta One', cursive;
}
#navbar::before{
    content: "";
  background-color: black;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.4;
}
#logo{
margin: 0px;


}
#logo img{
    margin: 3px 6px 3px 6px;
    height: 56px;
    transition: 0.2s;
 
}
#logo img:hover{
   transform: scale(1.05);
}



#navbar ul{
    display: flex;
}

#navbar ul li{
   
    margin: 11px 11px 22px;
    list-style: none;
    text-decoration: none;
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 8px 9px 8px 9px;
    list-style: none;
    text-decoration: none;
    border-radius: 20px;

}
#navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
   
}
/* HOME SECTION */
#home{
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 55px 0px;
    
}

#home::before{
content: "";
    background: url('../pics/bg.jpg')no-repeat center center/cover;
    z-index: -2;
    height: 615px;
    width: 100%;
    position: absolute;
  
   
}

#home h1{
    color: whitesmoke;
    font-family: 'Alfa Slab One', cursive;
    
}
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 3px 17px 0px 0px;
    text-align: center;
    -webkit-text-stroke: 0.1px #483e3e;
   
}

#home p{
    font-family: 'Baloo Bhai 2', cursive;
    color: rgb(237 230 255);
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    
}
.btn
{
    padding: 3px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 900;
    width: 160px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 28px 0px 135px 0px;
    font-size: 1rem;
    cursor: pointer;
    background-color: chocolate;
    transition: 0.1s;


}
.btn:hover{
    background-color: rgb(39, 15, 7);
    color: white;
    transform: scale(1.15);
}
.center{
text-align: center;
}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    text-align: center;
   
}
.services-container::before{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 139.2%;
    width: 100%;
    z-index: -5;
    opacity: 0.9;
}
#services{
    font-family: 'Bree Serif', serif;
    display: flex;
    margin: 30px;
    
}
#services .box{
    border: 2px solid brown;
    padding: 0px 0px 7px 1px;
    margin: 5px;
    border-radius: 23px;
    text-align: center;
    background-color: #efe4e4;
}
/* agr center me krna h toh margin auto plus display bloack plus height ya wigdth */
#services .box img{
    height: 200px;
    padding: 0px;
    margin: -1px 74px -14px 98px;
                                                  
    }
    #clients-section{
    }
    #clients-section::before{
        content: "";
        position: absolute;
        background: url('../pics/bg2.jpg')no-repeat center center/cover;
        height: 60.2%;
        width: 100%;
        opacity: 0.7;
        z-index: -3;

    }
    #clients{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #clients img{
        height:134px ;
    }
    .clientitem{
        padding: 20px;
    }
#contact{
    position:relative;
}
#contact::before{
    margin: 0px;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    opacity: 0.8;
    background: url('../pics/bg3.jpg')no-repeat center center/cover;
}
#contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}
#contactbox form{
    width: 40%;

}
#contactbox label{
    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
}

#contactbox input,
#contactbox textarea{
    width: 100%;
    padding:0.5rem;
    background-color: rgb(236, 236, 232);
    border:1px solid rgb(68, 26, 2);
    font-size: 1.1rem;
    border-radius: 10px;
}

.btn1
{
    padding: 3px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bolder;
    width: 313px;
    border-radius: 10px;
    margin: 11px 1px 0px 120px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgb(197, 185, 185);
}
.btn1:hover{
    background-color: rgb(148, 148, 148);
    color: white;
}




footer{
    background: black;
    color: white;
    padding: 2px;
}